{% extends 'base.html' %}
{% block conteudo %}

<section class="Estrutura">
    <h1>Editar Post</h1><br>
    <div class="Atividade">
        <form action="{% url 'editar_post' post_id=post.id %}" method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar Edições</button>
        </form>
    </div>
</section>

<style>
    .Estrutura {
        margin: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Atividade {
        width: 95%;
        background-color: rgba(112, 112, 106, 0.274);
        display: flex;
        height: 53vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .entrada_de_texto {
        width: 80vh;
        height: 20vh;
    }


    text {
        width: 80vh;

    }


    @media screen and (max-width: 768px) {
        .form {
            width: 40vh;
        }

        text-area {
            width: 30vh;

        }
    }
</style>



{% endblock %}