{% extends 'base.html' %}
{% block conteudo %}

<section class="Estrutura">
    <h1>Posts</h1><br>
    <div class="Atividade">
        {% block content %}
        {% for post in posts %}
        <div class="post-container">
            <div class="post-c"><br>
                <div>
                    <h3>{{ post.title }}</h3>
                </div>
                <div class="linha"></div>
                <div>
                    <img class="imagem" src="{{post.image.url}}" alt="imagem de {{ post.author }}">
                </div>
                <div class="linha"></div>
                <div class="texto">
                    <p class="texto_post">{{ post.text|slice:":200"|safe }}
                        {% if post.text|length > 200 %}
                        <a href="{% url 'post_detail' post.id %}" class="ler_mais"><b>Ler Mais...</b></a>
                        {% endif %}
                    </p>
                </div>
                <div class="linha"></div>
                <div class="baixo">
                    <div class="data">
                        <p>Criador por: {{ post.author }}</p>
                        <p>Publicado em {{ post.published_date }} </p>
                    </div>
                    <a class="comentar-link" href="{% url 'post_detail' post.id %}">
                        <ion-icon class="comentar" name="chatbubble-outline"></ion-icon>
                    </a>
                </div>

            </div>
        </div>
        {% endfor %}

        {% if query and posts.count == 0 %}
        <p>Nenhum resultado encontrado para "{{ query }}".</p>
        {% endif %}
        {% endblock %}

    </div>

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
            <a href="?page=1">&laquo; Primeira</a>
            <a href="?page={{ posts.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ posts.number }} de {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Próxima </a>
            <a href="?page={{ posts.paginator.num_pages }}">Ultima &raquo;</a>
            {% endif %}
        </span>
    </div>
</section>

<style>
    .Estrutura {
        margin: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Atividade {
        width: 95%;
        background-color: rgba(112, 112, 106, 0.274);
        display: flex;
        min-height: 50vh;
        max-height: 5000vh;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .post-container {
        max-width: 100%;
        height: 68vh;
        width: 80vh;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .post-c {
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 2px solid black;
        height: 68vh;
    }

    .imagem {
        width: 55vh;
        height: 35vh;
    }

    .linha {
        border-bottom: 2px solid #000;
        width: 80%;
        margin: 8px auto;
    }

    .texto {
        height: 10vh;
        max-width: 60vh;
    }

    .texto_post {
        font-size: 13px;
    }

    .ler_mais {
        text-decoration: none;
        color: black;
    }

    .comentar {
        width: 90px;
        height: 20px;
    }

    .baixo {
        width: 80%;
        display: flex;
        align-items: center;
    }

    .comentar {
        height: 4vh;
        margin-left: 7vh;
    }

    .data {
        font-size: 13px;
    }

    /* Paginação */

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .step-links a {
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #ddd;
        color: #333;
        background-color: #f1f1f1;
    }

    .step-links a:hover {
        background-color: #ddd;
    }

    .current {
        padding: 8px 16px;
        border: 1px solid #ddd;
        background-color: gray;
        color: white;
    }

    @media screen and (max-width: 768px) {
        .post-container {
            height: 65vh;
            width: 85%;
        }

        .post-c {
            height: 65vh;
        }

        .Atividade {
            width: 110%;
        }

        .imagem {
            width: 30vh;
            height: 30vh;
        }

        .texto {
            height: 13vh;
            max-width: 30vh;
            font-size: 13px;
        }

        .comentar {
            height: 4vh;
            margin-left: 1vh;
        }

        .step-links a {
            padding: 5px 10px;
        }

        .current {
            padding: 5px 10px;
        }

    }
</style>

{% endblock %}